.landing-page {
  background-color: #3D3A4B;
  height: 100vh;
  width: 100vw;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem 0 10rem;
  padding: 1rem 0 1rem 0;
  border-bottom: 2px solid #b0b0b0;
  height: 9vh;
}

.nav-items-left, .nav-items-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 2rem;
  font-weight: 700;

  p {
    color: white;
    cursor: pointer;
  }

  button {
    background-color: #1ED1A8;
    border-radius: .5rem;
    border: none;
    padding: 1rem;
  }
}

.nav-items-left {
  margin-left: 5rem;
}

.nav-items-right {
  margin-right: 5rem;
}

.nav-login {
  display: flex;
  flex-direction: column;
  position: relative;

  & label {
    text-transform: uppercase;
    margin-right: .75rem;
    color: white;
  }

  & input[type="submit"] {
    background-color: #1ED1A8;
    border: none;
    padding: .75rem;
    text-transform: uppercase;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      transform: scale(1.3);
    }
  }

  & input[type="email"], & input[type="password"] {
    height: 2.5rem;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
  }

  & .field {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-input {
    display: flex;
    // flex-direction: column;
    gap: 3rem;
  }

  &-actions {
    display: flex;
  }
}

.nav-logo-container {
  display: flex;
  align-items: center;

  .nav-logo {
    height: 7rem;
    cursor: pointer;
  }

  p {
    color: #1ED1A8;
    font-size: 1.5rem;
    pointer-events: none;
    font-weight: 700;
  }

}

.main-container {
  position: relative;
  height: 73.25vh;
  padding: 0 25rem 0 25rem;
}

.bg-video {
  left: 0; 
  opacity: 50%;
  margin-left: 10rem;
  position: absolute;
  height: 76.75rem;
  width: 90.25%;
  object-fit: cover;
  z-index: 1;
}

.stock-container {
  position: absolute;
  top: 20rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  opacity: 1;
  z-index: 5;

  & h1 {
    margin-right: 7rem;
    color: white;
  }

  & .stock-name-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 25rem;

  }

  & .stock-name {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 25rem;

    & h2 {
      color: white;
    }

    & p {
      color: #b0b0b0;
    }

    & div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  & .stock-logo {
    height: 5rem;
    margin-right: 5rem;
  }

  & .visa {
    height: 3rem;
    width: 8rem;
    margin-right: 2rem;
  }

  & .stock-price-container, .stock-cap-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 4.9rem;

    & h1 {
      margin-bottom: -1rem;
    }

    & h2 {
      color: white;
    }
  }

  & .main-cta {
    height: 40rem;
    width: 40rem;
    background-color: #b0b0b0;
    margin-left: 40rem;
    border-radius: 2rem;
    display: flex;

    &-logo {
      height: 6rem;
    }

    &-left {
      // margin-right: 2rem;
      height: 40rem;
      width: 10rem;
      background-color: black;
      border-radius: 2rem 0 0 2rem;
      display: flex;
      justify-content: center;

      & p {
        color: #1ED1A8;
        font-size: 2rem;
        font-weight: 700;
      }

      & div {
        transform: rotate(90deg);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &-right {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 3rem;

      & h1 {
        margin-right: 0;
        line-height: 1.5;
      }

      & button a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
      }

      & button {

        background-color: #1ED1A8;
        padding: 1.2rem;
        border-radius: .5rem;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        transition: all .5s;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}

.footer-container {
  border-top: 2px solid #b0b0b0;
  display: flex;
  gap: 2rem;
  margin: 0 10rem 0 10rem;

  .footer-item {
    display: flex;
    gap: 4rem;
    margin: 2rem 0 0 5rem;
  }

  .footer-item-links {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    font-size: 1.2rem;


    p {
      margin-left: 2rem;
      color: #b0b0b0;
      cursor: pointer;
      font-size: 1.5rem;
      width: 14rem;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: .5rem;
      color: white;
    }
  }

  .footer-media {
    margin: 2rem 5rem 0 0;
    display: flex;
    gap: 5rem;

    p {
      color: #b0b0b0;
      font-size: 1.25rem;
    }
    
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      color: white;
    }

    .footer-email {
      display: flex;
      margin-top: .5rem;
    }

    input {
      border: none;
      padding: .5rem;
      width: 26.75rem;
      margin-bottom: .5rem;
    }

    button {
      cursor: pointer;
      position: relative;
      height: 2.7rem;
      width: 3rem;
      background-color: #1ED1A8;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .send-logo {
      height: 2rem;
      transform: rotate(45deg);
      margin-right: .5rem;
    }

    .footer-socials {
      margin-left: 2rem;
      margin-bottom: .5rem;
    }

    .social-logo {
      height: 3rem;
      margin-right: 2.5rem;
      cursor: pointer;
    }
  }

  .footer-contact {
    display: flex;
    gap: 1.5rem;

    .contact-logo {
      height: 2rem;
      margin-right: .5rem;
    }

    &-detail {
      margin-left: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    p {
      margin-left: 0;
      font-size: 1.25rem;
    }
  }

  input, p {
    margin-left: 2rem;
  }
}

#new_user {
  position: fixed;
  top: 0;
}

#new_user[target=login] {
  position: relative;
}

.sign-up-heading {
  position: absolute;
  top: 0;
}

.sign-up-links {
  position: absolute;
  top: 0;
}
