<table>
  <tr>
    <th>First Name</th>
    <th>Last Lame</th>
    <th>Email</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <%= render "user_row", user: user %>
  <% end %>
</table>