
<div class="transactions-container">
      <h1>TRANSACTIONS</h1>
      <div class="transaction-details">
        <div class="transaction-details-header">
          <h3>PRICE</h3>
          <h3>QUANTITY</h3>
          <h3>ORDERED</h3>
        </div>
        <% @transactions&.each do |transaction| %>
        <div class="transaction-row">
          <p><%= transaction.price %></p>
          <p><%= transaction.quantity %></p>
          <p><%= transaction.created_at.strftime("%H:%M:%S %a %m, %e") %></p>
        </div>
      <% end %>
      </div>
  </div>
