<% @buy_transactions.each do |buy_transaction| %>
    <div class='transactions-details'>
        <span><%= buy_transaction.stock.ticker %></span>
        <span><%= buy_transaction.price %></span>
        <span><%= buy_transaction.quantity %></span>
    </div>
<% end %>