<div class='user-dashboard'>
<%= render 'user_nav' %>

<div class='user-features'>

  <div class='user-feature'>
    <strong><span>Deposit</span></strong>
  </div>

  <div class='user-feature'>
    <strong><span>Withdraw</span></strong>
  </div>

  <div class='user-feature'>
    <strong><span>Trade</span></strong>
  </div>

  <div class='user-feature'>
    <strong><span>Portfolio</span></strong>
  </div>

</div>

</div>