<div class='user-dashboard'>
<%= render 'user_nav' %>

<div class='user-portfolio-container'>

<div class='user-transactions'>

<div class='portfolio-header-container'>
    <h1 class='user-portfolio-header'>TRANSACTIONS</h1>
</div>

    <div class='user-transactions-container'>

    <div class='user-transactions-action'>
    <h2>BUY</h2>
    <div class='transaction-headers'>
        <span>Stock</span>
        <span>Price</span>
        <span>Quantity</span>
    </div>
    <div>
        <hr/>
    </div>
        <div class='transactions-details-container'>
            <%= render 'buy_transaction' %>
        </div>
    </div>

    <div>
        <hr/>
    </div>

    <div class='user-transactions-action'>
    <h2>SELL</h2>
    <div class='transaction-headers'>
        <span>Stock</span>
        <span>Price</span>
        <span>Quantity</span>
    </div>
    <div>
        <hr/>
    </div>
        <div class='transactions-details-container'>
            <%= render 'sell_transaction' %>
        </div>
    </div>

    </div>
</div>

<div class='user-portfolio'>

<div class='portfolio-header-container'>
    <h1 class='user-portfolio-header'>PORTFOLIO</h1>
</div>

<div class='user-portfolio-headers'>
    <span>Stock</span>
    <span>Quantity</span>
</div>
    
    <div>
        <hr/>
    </div>

    <div class='user-asset-container'>
        <%= render 'asset' %>
    </div>
</div>

</div>

</div>