.stock-index-nav {
  background-color: #3D3A4B;;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .stock-index-logo {
    height: 4rem;
  }

  & .stock-index-nav-middle {

    text-transform: uppercase;
    font-weight: 700;
    color: white;
    display: flex;
    gap: 1.5rem;
    font-size: 1.4rem;

    & p {
      cursor: pointer;
      font-size: 2rem;
    }
  }
}

.stock-index-main {
  // padding: 2rem;
  display: flex;
  background-color: #272531;
  color: white;
}

.stock-index-container {
  display: flex;
}

.stock-index-table {
  display: flex;

  & h1 {
    padding: 1rem;
    border-bottom: 2px green solid;
    width: 100%;
  }

  & h2 {
    padding: .93rem 1rem;
  }
}

.stock-index-name {
  display: flex;
  flex-direction: column;
  border: 2px green solid;
  border-right: none;

  & h1 {
    text-align: center;
  }

  
  & a {
    display: flex;
    text-decoration: none;
    color: white;
    gap: 1rem;
    font-size: 1.5rem;
    padding: .5rem;
  }
}

.stock-index-stocks {
  padding: .75rem 1rem 0 1rem;
  display: flex;
  transition: 1s all;
  cursor: pointer;

  &:hover {
    background-color: #3D3A4B;
  }

  & p {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    width: 10rem;
    padding: .5rem;
  }
}



.stock-index-order {
  width: 30.5rem;
  height: 97.75rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-left: none;
  border: 2px green solid;

  & h1 {
    padding: 1rem;
    text-align: center;
    border-bottom: 2px green solid;
  }

  .stock-index-order-buy {
    // border-top: 2px green solid;
    width: 30rem;
    height: 45rem;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    border-left: none;

    
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    & .buy-column {
      display: flex;
      flex-direction: column;
      // border: 2px green solid;

      &:nth-child(1) {
        border-left: none;
      }

      &:nth-child(3) {
        border-right: none;
      }

      & h1 {
        font-size: 1.5rem;
        border: none;
      }

      & p {
        font-size: 1.5rem;
        padding: .5rem 1rem;
        width: 100%;
      }
    }
  }

  .stock-index-order-sell {
    border-top: 2px green solid;
    width: 30rem;
    height: 45rem;
    display: flex;
    justify-content: space-between;
    overflow-y: auto;
    border-left: none;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }

    & .sell-column {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;


      &:nth-child(1) {
        border-left: none;
      }

      &:nth-child(3) {
        border-right: none;
      }

      & h1 {
        font-size: 1.5rem;
        border: none;
      }

      & p {
        font-size: 1.5rem;
        padding: .5rem 1rem;
        width: 100%;
      }
    }
  }
}

